@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

body {
  margin: 0;
  font-family:
    -apple-system,
    blinkmacsystemfont,
    Segoe UI,
    roboto,
    helvetica,
    arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Neucha",
    cursive,
    "Nunito",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: "Paytone One", sans-serif, "Neucha", cursive, "Nunito",
    sans-serif;
}

.support {
  font-family: "Paytone One", sans-serif, "Neucha", cursive, "Nunito",
    sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
