@tailwind components;
@tailwind utilities;
:root {
  --header-height: 4.35rem;
}

header {
  height: var(--header-height);
}

body {
  background-color: var(--color-white-dark);
}

main {
  height: calc(100vh - var(--header-height));
}

/* Targeting the entire scrollbar */
::-webkit-scrollbar {
  width: 16px; /* You can adjust the width as needed */
}

/* Targeting the scrollbar track */
::-webkit-scrollbar-track {
  border-radius: 0.9375rem;
  background: var(--color-quaternary);
}

/* Targeting the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: var(
    --color-white
  ); /* You can change this to your preferred color */
  border-radius: 0.9375rem; /* Making the handle rounded */
  box-shadow: inset 2px 0px 6px rgba(0, 0, 0, 0.8); /* Inset shadow */
}

/* Applying styles for the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary); /* Change the color when hovering */
}
